<h1>All articles</h1>
<ul id="articles">
	<% @articles.each do |article| %>
		<li><%= link_to article.title, article_path(article), class: 'article_title', id: 'article_#{article.id}' %></li>
	<% end %>
</ul>

<% if logged_in? %>
	<%= link_to "create new article", new_article_path, class: 'new_article' %>
<% end %>