<h1><%= @article.title %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p><%= image_tag @article.image.url(:medium)%></p>

<p><%= @article.body %></p>

<% if logged_in? %>
	<p><%= link_to 'edit', edit_article_path(@article) %></p>
	<p><%= link_to 'delete', article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %></p>
<% end %>

<br/>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<%= link_to "<< Back to articles list", articles_path %>